COMPOSE_PROFILES='api-server,frontend'
SERVER_NAME=localhost
SSL_CERTIFICATE=/etc/letsencrypt/live/localhost/localhost+1.pem
SSL_CERTIFICATE_KEY=/etc/letsencrypt/live/localhost/localhost+1-key.pem
API_KEY=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
